{% extends 'base.html.twig' %}

{% block title %}Détail d'un bien{% endblock %}

{% block header %}
<h2>détail d'un bien</h2>
{% endblock %}

{% block body %}

<div class="container mt-4">
   <h1 class="pb-4">Détail d'un bien</h1>
   <div class="row">

      <div class="col-md-2"></div>
      <div class="col-md-8">
         <h2> Bien n°{{ property.id }} </h2> 
         <h6 class="card-subtitle text-muted"> {{ property.address }}, {{ property.postalCode }} {{ property.city }} </h6>
         <p>Chauffage : {{ property.heatType }} </p>

      </div>
      <div class="col-md-2"></div>
      <a href=" {{path('properties_index')}} " class="btn btn-center btn-info">Liste des biens ...</a>
   </div>
 

</div>


</div>
{% endblock %}