{% extends 'base.html.twig' %}

{% block title %}Liste des biens{% endblock %}

{% block header %}
<h2>Liste des biens</h2>
{% endblock %}

{% block body %}
<div class="jumbotron">
   <div class="container">
      {{ form_start(form) }}
      <div class="form-row align-items-end">
         <div class="col">
            {{ form_row((form.minSurface)) }}
         </div>
         <div class="col">
            {{ form_row((form.maxSurface)) }}
         </div>
         <div class="col">
            {{ form_row((form.options)) }}
         </div>
         <div class="col">
            <div class="form-group">
               <button class="btn btn-info">Rechercher</button>
            </div>
         </div>
      </div>
     
      {{ form_end(form) }}
   </div>
</div>
<div class="container mt-4">
   <h1 class="pb-4">Liste des biens libres</h1>
   <div class="row">
      {% for property in properties %}
      <div class="col-md-4">
         <div class="card mb-3">
            <h3 class="card-header text-center">Bien n°{{ property.id }}<br/>{{ property.city }}</h3>
            <div class="card-body">
               {% if property.imageName %}
                  <img src="{{ vich_uploader_asset(property, 'imageFile') | imagine_filter('thumb_360') }}" alt="Image" class="card-img-top">
               {% else %}
                   <img src="{{  '/images/default/appartement.jpg' | imagine_filter('thumb_360') }}" alt="Image" class="card-img-top">
               {% endif %}
               <h5 class="card-title"> {{property.title}} </h5>
               <div class="card-subtitle text-muted"> {{ property.address }}</div>
               <div class="card-subtitle text-muted mt-1"> {{ property.postalCode }} {{ property.city }} </div>
            </div>
            <div class="card-body">
               <p class="card-text"> {{ property.description | nl2br }} </p>
            </div>
            <ul class="list-group list-group-flush">
               <li class="list-group-item">Surface : {{ property.surface }} m² </li>
               <li class="list-group-item">Nombre de pièces : {{ property.rooms }} </li>
               <li class="list-group-item">Nombre de chambres : {{ property.bedrooms }} </li>
            </ul>
            <div class="card-body">
               <h5 class="text-info text-center"> {{property.formatedPrice}} €</h5>
               <a href=" {{ path('property_show', {id: property.id, slug: property.slug} )}} " class="btn btn-center btn-info">Détail ...</a>
            </div>
            <div class="card-footer text-muted">
               Bien créé le {{ property.createdAt|date('d/m/Y') }} 
            </div>
            </div>
      </div>
      {% endfor %}
   </div>

   {# display navigation #}
   <div class="pagination text-center">
      {{ knp_pagination_render(properties) }}
   </div>
 

</div>


</div>
{% endblock %}