<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>ID - {% block title %}Immobilier Digital{% endblock %}</title>

        <meta name="viewport" content="width=device-width, user-scalable=no">

        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/select2.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/immo.css') }}">
  
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include 'partials/header.html.twig' %}

        {% for label, messages in app.flashes %} {# affichage des message success ou danger#}
            <div style="display: block; margin: 10px auto; max-width : 800px;">
                <div id="alert1" class="alert alert-dismissible alert-{{ label }} m-4 ">
                    {% for message in messages %}
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ message | raw }} {# filtre raw permet la prise en comte du code html documentation dans twig#}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}

        {% block body %}{% endblock %}

        {% include 'partials/footer.html.twig' %}
        <script src="/js/jquery.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/select2.min.js"></script>
       
        <script>
        $('select').select2();
        </script>

        {% block javascripts %}

        <script>
        $("document").ready(function(){
        setTimeout(function(){
        $("div#alert1").remove();
        }, 2000 ); // 2 secs
        });
        </script>
        
        {% endblock %}
    </body>
</html>
