{% extends 'base.html.twig' %}

{% block title %}Mon profile{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="mt-5 mb-4"><i class="fas fa-user"></i>&nbsp;&nbsp;Mon profile</h1>

       <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-header"> {{app.user.genderType}} {{app.user.fullName}}</div>
            <div class="card-body">
                <h4 class="card-title">{{app.user.email}}</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>

       <div class="row pt-4">
            <div class="col-md-2"></div>
            <a href="{{ path('user_account_edit') }}" class="btn btn-info col-md-3 center-block"><i class="fas fa-user-cog"></i>&nbsp;&nbsp;Modifier mon profil</a>
            <div class="col-md-2"></div>
            <a href="{{ path('user_account_password_reset') }}" class="btn btn-info col-md-3 center-block"><i class="fas fa-lock"></i>&nbsp;&nbsp;Modifier mon mot de passe</a>
            <div class="col-md-2"></div>
       </div>
      
        

    </div>





    

{% endblock %} 
